@model List<List<string>>

@{
    ViewBag.Title = "Reducts";
}

<h2>Redukty</h2>
<h4>Name of Attributes in Reduct</h4>
<table class="table">
    @foreach (var attribute in Model)
    {
        <tr>
            @foreach (var name in attribute)
                {
                <td>
                    <p>@name</p>
                </td>
            }
        </tr>
    }
</table>
