@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projekt Akademicki z MSI</h1>
    <p class="lead">Rozwiązanie przygotowane przez studentów czwartego roku informatyki wydziału Matematyki i Nauk Informacyjnych Politechniki Warszawskiej w składzie</p>
    <ul>
        <li>Bella Cezary</li>
        <li>Bieńkowski Mateusz</li>
        <li>Głowacki Bartosz</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reguły minimalne</h2>
        <p>
            Przejście do widoku, w którym wyświetlone są reguły minimalne
        </p>
        <p>@Html.ActionLink("Zobacz", "GetMinimalRules", "Reducts", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Redukty</h2>
        <p>Widok reduktów wyznaczonych na podstawie danych z bazy.</p>
        <p>@Html.ActionLink("Zobacz", "GetReducts", "Reducts", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Wyznaczanie państwa</h2>
        <p>Przejscie do widoku umozliwiającego wynaczenie państwa na podstawie odpowiedzi użytkownika.</p>
        <p>@Html.ActionLink("Zobacz", "StartFindCountry", "Home", new { @class = "btn btn-default" })</p>
    </div>
</div>