
@{
    ViewBag.Title = "StartFind";
}

<div class="jumbotron">
    <h2>Wyszukiwanie Państwa</h2>
    <p class="lead">Kliknij @Html.ActionLink("tutaj", "StartFind", "CountryFinder") aby rozpocząć</p>
</div>